body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #197C43;
    color: white;
}

#container{
    display: grid;
    justify-content: center;
}

#title{
    justify-self: center;
}

#subtitle{
    justify-self: center;
    font-size: 4vh;
}

#container-block{
    display: grid;
    grid-template-columns: 3fr 3fr 3.2fr 3fr 3fr;
    justify-content: space-between;
    color: white;
    background-color: #359A41;
    
    list-style-type: none;
  margin: 0;
  padding: 0;
    
    
}

#block{
    width: 38vh;
    height: 13vh;
    background-color: #359A41;
    vertical-align: middle;
    cursor: pointer;
    
} 

#block:hover {
    background-color: #0C6038;
  }

#block:active{
    box-shadow: 5px 10px #888888;
}